:root {
  --color-000: hsl(210 40   0);
  --color-005: hsl(210 40   5);
  --color-010: hsl(210 40  10);
  --color-015: hsl(210 40  15);
  --color-020: hsl(210 40  20);
  --color-025: hsl(210 40  25);
  --color-030: hsl(210 40  30);
  --color-075: hsl(210 40  75);
  --color-080: hsl(210 40  80);
  --color-085: hsl(210 40  85);
  --color-090: hsl(210 40  90);
  --color-095: hsl(210 40  95);
  --color-100: hsl(210 40 100);

  font-family: Georgia, serif;
  line-height: 2rem;
  background-color: var(--color-095);
  color: var(--color-000);
}

body {
  margin: 0rem 2rem 2rem 2rem;
}

h1, h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  max-width: 40rem;
  font-size: larger;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-095);
  border-bottom: 1px solid var(--color-090);

  nav {
    display: flex;
    width: fit-content;
    background-color: var(--color-095);
    margin-left: auto;
    margin-right: auto;

    ul {
      font-family: Verdana, sans-serif;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 5px 10px;

        &:hover {
          background-color: var(--color-085);
        }

        a,
        a:hover {
          color: var(--color-000);
          text-decoration: none;
        }
      }

      li.logo {
        font-size: 1.5rem;
        margin-right: 2rem;

        a {
          color: var(--color-025);
        }
      }

      li.blog {
        margin-left: 2rem;
      }
    }
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid var(--color-075);
  line-height: 1rem;
  margin-left: auto;
  margin-right: auto;
}

table > caption {
  text-align: left;
  font-family: Verdana;
}

tr th {
  background-color: var(--color-085);
}

tbody > tr:nth-child(even) {
  background-color: var(--color-090);
}

/* Don't alternate row colors for vertical tables. */
tbody.vertical tr:nth-child(even) {
  background-color: var(--color-095);
}

th,
td {
  border: 1px solid var(--color-075);
  font-family: Verdana;
  font-size: 0.75rem;
  padding: 2px 4px;
  max-width: 20rem;
  vertical-align: top;
}

th.vertical {
  text-align: left;
}

th.sortable:hover {
  cursor: pointer;
  background-color: var(--color-080);
}

.right {
  text-align: right;
}

td a,
td a:visited {
  color: var(--color-000);
}

td a:hover,
td a:visited:hover {
  color: var(--color-030);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-005);
    color: var(--color-090);
  }

  header {
    background-color: var(--color-005);
    border-bottom: 1px solid var(--color-010);
    nav {
      background-color: var(--color-005);
      ul {
        li {
          &:hover {
            background-color: var(--color-020);
          }
          a, a:hover {
            color: var(--color-090);
          }
        }

        li.logo {
          a, a:hover {
            color: hsl(210 100 75);
          }
        }
      }
    }
  }

  table {
    border: 3px solid var(--color-025);
  }

  tr th {
    background-color: var(--color-015);
  }

  tbody > tr:nth-child(even) {
    background-color: var(--color-010);
  }

  /* Don't alternate row colors for vertical tables. */
  tbody.vertical tr:nth-child(even) {
    background-color: var(--color-005);
  }

  th,
  td {
    border: 1px solid var(--color-025);
  }

  th.sortable:hover {
    background-color: var(--color-020);
  }

  td a,
  td a:visited {
    color: var(--color-090);
  }

  td a:hover,
  td a:visited:hover {
    color: var(--color-080);
  }
}
